@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

body {
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Syne', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.125rem;
    grid-template-rows: repeat(2, 1fr);
    margin: auto;
}

.main-card {
    grid-area: 1 / 1 / 3 / 2;
    background: rgba(234, 234, 234, 0.4);
    border-radius: 1rem;
    padding: 2rem;
    justify-items: center;
    
}

.card1 {
    grid-area: 1 / 2 / 2 / 3;
    background: rgba(234, 234, 234, 0.4);
    border-radius: 1rem;
    padding: 2rem;
}

.card2 {
    grid-area: 1 / 3 / 2 / 4;
    background: rgba(234, 234, 234, 0.4);
    border-radius: 1rem;
    padding: 2rem;
}

.card3 {
    grid-area: 2 / 3 / 3 / 4;
    background: rgba(234, 234, 234, 0.4);
    border-radius: 1rem;
    padding: 2rem;
}

.card4 {
    grid-area: 2 / 2 / 3 / 3;
    background: rgba(234, 234, 234, 0.4);
    border-radius: 1rem;
    padding: 2rem;
}

.container {
    display: flex;
    align-content: center;
    justify-items: center;
    text-align: center;
}

.footer {
    display: flex;
    text-align: center;
    justify-content: center;
    color:#EAEAEA;
}


.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location {
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-items: baseline;
    gap: 0.4rem;
}

.h2 {
    font-size: 30px;
    font-weight: 600;
}

.h4 {
    font-weight: 600;
    font-size: 18px;
}

.nav1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    align-items: center;
    font-weight: 800;
    color: white;
    font-size: 30px;
    gap: 1rem;
}

.nav2 {
    display: none;
}

@media only screen and (max-width: 630px) {
    .wrapper {
        grid-template-rows: 2fr repeat(4, 1fr);
        gap: 1rem;
        grid-template-columns: 1fr;
        margin: auto;
    }

    .main-card {
        grid-row: 1;
        grid-column: 1;
        background: rgba(234, 234, 234, 0.4);
        border-radius: 1rem;
        padding: 1.125rem;
        min-width: 250px;
        max-width: 270px;
    }

    .card1 {
        grid-row: 2;
        grid-column: 1;
        background: rgba(234, 234, 234, 0.4);
        border-radius: 1rem;
        padding: 1.125rem;
    }
    
    .card2 {
        grid-row: 3;
        grid-column: 1;
        background: rgba(234, 234, 234, 0.4);
        border-radius: 1rem;
        padding: 1.125rem;
    }

    .card3 {
        grid-row: 4;
        grid-column: 1;
        background: rgba(234, 234, 234, 0.4);
        border-radius: 1rem;
        padding: 1.125rem;
    }

    .card4 {
        grid-area: 5;
        grid-column: 1;
        background: rgba(234, 234, 234, 0.4);
        border-radius: 1rem;
        padding: 1.125rem;
    }

    .container {
        display: flex;
        align-content: center;
        justify-items: center;
    }

    .h2 {
        font-size: 24px;
        font-weight: 600;
    }
    
    .h4 {
        font-weight: 600;
        font-size: 14px;
    }
    
    .nav1 {
        display: none;
    }
    
    .nav2 {
        display: flex;
        margin-bottom: 0.5rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        font-size: 20px;
        gap: 0.5rem;
        color: white;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        color:#EAEAEA;
        flex-direction: column;
    }

    .location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        gap: 0.3rem;
    }
}
